<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="com.ibm.etools.server.core.launchConfigurationTypes">
    <booleanAttribute key="read-only" value="true"/>
    <stringAttribute key="org.eclipse.debug.ui.target_debug_perspective" value="org.eclipse.debug.ui.DebugPerspective"/>
    <intAttribute key="start-mode" value="0"/>
    <stringAttribute key="server-ref" value="/Servers/ElCocoServer.wsi"/>
    <stringAttribute key="org.eclipse.debug.ui.target_run_perspective" value="perspective_none"/>
</launchConfiguration>
